.DS_Store
node_modules/
coverage/
config/reviews.pem
server/db/postgres_user.csv
server/db/postgres_restaurants.csv
server/db/postgres_reviews.csv
server/db/mongoRestaurant.csv
server/db/mongoReviews.csv
server/db/mongoUsers.csv
newrelic_agent.log
dump.rdb
sigsa7_review.pem
postgres_user.csv
postgres_restaurants.csv
postgres_reviews.csv
