.DS_Store
node_modules/
coverage/
config/reviews.pem
server/db/postgres_user.csv
server/db/postgres_restaurants.csv
server/db/postgres_reviews.csv
server/db/mongoRestaurant.csv
server/db/mongoReviews.csv
server/db/mongoUsers.csv
newrelic.js
newrelic_agent.log